.login {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &_inner {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        color: black;
        background-color: white;

        h2 {
            margin-top: 80px;
        }
    }


    &_inputs {
        position: relative;
        top: 50px;
        display: flex;
        flex-direction: column;


        input {
        margin: 20px 0px;
        padding: 5px 20px;
        border-radius: 5px;
        outline: none;
        border: 1px solid grey;
        }


        .required {
            border: 1px solid green;
        }


        .noRequired {   
            border: 1px solid red;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}