* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

@import "./Components/Navbar/Navbar";
@import "./Pages/homePage";
@import "./Pages/login";
@import "./Components/Cards/Cards";